body {
    background-color: #EADCA6!important;
    color:#fff ;
}
#header-nav {
    background-color: #C36A2D;
    border-radius:0;
    border: 0;
}
#logo-img{
    background: url("pngegg.png") no-repeat;
    width: 150px;
    height: 150px;
    background-size: contain;
}
#elementos {
    text-align: center;
    color: black;
}
.navbar-header button.navbar-toggle {
clear: both;
}

@media (max-width:767px) {
    .navbar-brand h1 {
        font-size: 5vw;
    }
}
#cajas {
    background-color: #E2C275;
    text-align: center;
    position: relative;
    overflow: hidden;
    border: solid;
    height: 250px;
    width: 100%;
    margin-bottom: 15px;

}
#main-content {
    margin-left: 15px;
    margin-right: 15px;
}
.titular {
    text-align: center;
}
.navbar-brand h1{
    color: black;
}

